body
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 0;
    color: #333333;
    background-color: #333333;
    margin: 0px;
}
a:link, .link
{
    cursor: pointer;
    color: #ea9919;
    text-decoration: underline;
}
a:visited
{
    color: #ea9919;
}
a:hover
{
    text-decoration: none;
}
div#nav1{
    background-color:#000000;
}

div#contentWrapper1
{
    background: #DFDFDF repeat-y center;
}

div#menu1, div#footer
{
    backgrounf: #FF0
    padding: 0;
    width: 980px;
    margin: 0 auto;
    border-top-width: 1px; /* 2010-08-31 pliska: Hate leaving this line here here but I'm on a deadline. If removed, the secondary nav bar becomes taller on some steps */
    border-right-width: 0; /* see note above */
    border-bottom-width: 0; /* see note above */
    border-left-width: 0; /* see note above */
    border-style: dashed; /* see note above */
    border-color: transparent; /* see note above */
}
div#menu1
{
    height: 36px;
}
div#footer
{
    font-size: 12px;
    color: #ea9919;
    padding: 20px 0;
}
div#footer h3
{
    color: #CCC;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
div#ftr1
{
    float: left;
    padding: 0 25px;
}
div#ftr1
{
    width: 750px;
    border-right:0;
}
div#footer
{
    width: 115px;
}

div#tos
{
    vertical-align: 50%;
    border: 2px solid black;
    margin: 10px;
}
