body
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 0;
    color: #333333;
    background-color: #333333;
    margin: 0px;
}
a:link, .link
{
    cursor: pointer;
    color: #ea9919;
    text-decoration: underline;
}
a:visited
{
    color: #ea9919;
}
a:hover
{
    text-decoration: none;
}
div#nav1{
    background-color:#000000;
}

div#contentWrapper1
{
    background: #DFDFDF repeat-y center;
}

div#menu1, div#footer
{
    background: #FF0
    padding: 0;
    width: 980px;
}
div#menu1
{
    height: 36px;
}
div#footer
{
    font-size: 12px;
    color: #ea9919;
}
div#footer h3
{
    color: #CCC;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
div#tos
{
    vertical-align: 50%;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    vertical-align: 50%;
    width: 425px;
    height: 200px;
}

div#startContent
{
    padding: 10px;
}
